@mixin media($size) {
  @media (max-width: $size) {
    @content;
  }
}

@mixin glass {
  background: var(--glass);
  // backdrop-filter: blur(var(--glass-blur));
  // -webkit-backdrop-filter: blur(var(--glass-blur));
  border: 1px solid var(--glass-border);
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
